<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body class="background">
    <div class="container my-3 px-3 background">
        <div class="container">
            <!--HEADER-->
            <div class="rounded container white">
                <div class="row px-4">
                    <div class="col-6">
                        <a href="/">
                            <img class="logo" src="{% static '/img/logo.png' %}"  alt="">
                        </a>
                    </div>
                    <div class="col-6 text-center options">
                        <div class="row item ">
                            <a href="/empleados" role="button" class="btn btn-primary-outline btn-lg btn-block col-4">Empleados</a>
                            <a href="/clientes" role="button" class="btn btn-primary-outline btn-lg btn-block col-4">Clientes</a>
                            <a href="/egresados" role="button" class="btn btn-primary-outline btn-lg btn-block col-4">Egresados</a>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <!--MAIN CONTENT-->
            <div class="container text-center">
                <div class="container my-3 px-3">
                    <div class="row">
                        <div class="col-8">
                            <h1 class="orange">Reseña</h1>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi numquam inventore quibusdam sed sint ipsum. Veniam, expedita cum nulla placeat enim magni est natus, dignissimos, molestiae officiis dicta neque iure.
                            Iste commodi consequuntur aut eius qui, perferendis ab placeat quae, consequatur natus illum architecto distinctio illo debitis? Mollitia ipsam recusandae voluptate vel tempora, distinctio cupiditate aut, blanditiis, ad labore aperiam.
                            Tempore distinctio perspiciatis delectus autem animi veniam necessitatibus quasi soluta voluptate? Saepe rem aliquam ducimus minima animi consectetur a ratione. Praesentium nobis incidunt minus quia fuga ut, tempore consectetur fugiat!
                            Cum aspernatur doloribus vel rem sit nihil at, cupiditate laborum porro quaerat magni voluptas itaque possimus dolorem consequuntur accusamus incidunt animi soluta veniam ipsa totam iste saepe! Fugit, dignissimos numquam.
                            Provident assumenda fugiat nisi praesentium, ab tempore perspiciatis corporis, ullam quam soluta saepe, blanditiis esse repellat vitae quas dicta quia impedit. Porro accusamus atque esse. Doloribus, quibusdam cum. Expedita, libero!</p>
                        </div>
                        <div class="col-4">
                            <img class="thmb" src="{% static '/img/deadbolt.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="container my-3 px-3">
                    
                    <div class="row">
                        <div class="col-4">
                            <img class="thmb" src="{% static '/img/risky.jpg' %}" alt="">
                        </div>
                        <div class="col-8">
                            <h1 class="orange">Nuestra vision</h1>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi numquam inventore quibusdam sed sint ipsum. Veniam, expedita cum nulla placeat enim magni est natus, dignissimos, molestiae officiis dicta neque iure.
                            Iste commodi consequuntur aut eius qui, perferendis ab placeat quae, consequatur natus illum architecto distinctio illo debitis? Mollitia ipsam recusandae voluptate vel tempora, distinctio cupiditate aut, blanditiis, ad labore aperiam.
                            Tempore distinctio perspiciatis delectus autem animi veniam necessitatibus quasi soluta voluptate? Saepe rem aliquam ducimus minima animi consectetur a ratione. Praesentium nobis incidunt minus quia fuga ut, tempore consectetur fugiat!
                            Cum aspernatur doloribus vel rem sit nihil at, cupiditate laborum porro quaerat magni voluptas itaque possimus dolorem consequuntur accusamus incidunt animi soluta veniam ipsa totam iste saepe! Fugit, dignissimos numquam.
                            Provident assumenda fugiat nisi praesentium, ab tempore perspiciatis corporis, ullam quam soluta saepe, blanditiis esse repellat vitae quas dicta quia impedit. Porro accusamus atque esse. Doloribus, quibusdam cum. Expedita, libero!</p>
                        </div>
                    </div>
                </div>
                <div class="container my-3 px-3"></div>
                    <h1 class="orange">Nuestra mision</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, quaerat odio? Repellendus enim nobis excepturi consectetur tempora praesentium, blanditiis explicabo reiciendis ducimus nemo iure. Cum similique consectetur nihil id aliquid!
                    Dolorum omnis provident nam, adipisci, hic minus fugit perspiciatis deleniti reiciendis temporibus soluta iure ad assumenda neque voluptas, aut fuga. Dolores aliquam inventore minima quibusdam, sunt a accusantium recusandae rem!
                    Molestiae similique quas, minus nemo repudiandae quisquam exercitationem deserunt quidem, consectetur quasi earum veritatis velit illum. Distinctio perspiciatis exercitationem, minus, accusantium quidem soluta molestias, ratione officia adipisci sapiente optio necessitatibus!
                    Ratione consectetur minima labore, cupiditate sint dolor ipsam, reprehenderit voluptatem exercitationem sit, suscipit ipsum architecto. Dolor, unde fugit mollitia eveniet nostrum optio tempora aut ab, sit suscipit repudiandae veritatis asperiores!
                    Dolore suscipit error debitis, harum laudantium, mollitia explicabo corporis est recusandae aut qui assumenda quo iure consectetur doloribus odit, doloremque praesentium eos eum distinctio earum adipisci voluptatibus? Error, vel quas.</p>
                </div>
            </div>
            <hr>
            <!--FOOTER-->
            <div class="container text-center">
                <blockquote class="blockquote mb-0"></blockquote>
                <p>Siguenos en nuestras redes sociales!.</p>
                <a href="https://facebook.com/tu_perfil" target="_blank">
                    <img class="twtlogo" src="{% static 'img/twitter.png' %}" alt="twitter">
                </a>
                <footer class="blockquote-footer">"Commando is dead" <cite title="Source Title">Captain</cite></footer>
            </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>